/* Banner Block Styles */
.banner {
  background-color: rgb(41 41 41);
  margin: 0 16px;
  display: flex;
  text-align: left;
}

.banner>div {
  display: flex;
  align-items: center;
  margin: 0 15px;

}

.banner-heading p,
.banner-description p {
  color: #fff;
  margin: 12px;
  text-align: left;
}

.banner-heading p {
  font-size: 18px;
}

.banner-description p {
  font-size: 12px;
}